@charset "UTF-8";

/* -------------------------------header---------------------------------- */
/* ======|   헤더    | ===================================*/

#header .modal_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.525);
  z-index: 101;
  display: none;
  letter-spacing: -1px;
}

#header .modal_wrap .modal {
  position: absolute;

  width: 1300px;
  height: 700px;
  background-color: #ffffff;
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#header .modal_wrap .modal>div {
  float: left;
}

#header .modal_wrap .modal .left {
  width: 20%;
  height: 700px;
  background-color: #ffffff;
  text-align: center;
  color: #cb0000;
  font-size: 30px;
  font-weight: 600;
  line-height: 700px;
}

#header .modal_wrap .modal .right {
  background-color: white;
  background-image: url(../img/header/modal.jpg);
  background-position: center;
  width: 80%;
  height: 700px;
  padding-left: 190px;
  box-sizing: border-box;
  padding-top: 180px;
}

#header .modal_wrap .modal .right .close_btn {
  position: absolute;
  width: 87px;
  height: 87px;
  background-color: black;
  top: 0;
  right: 0;
  cursor:url('../img/cursor-a.png'),pointer;
}

#header .modal_wrap .modal .right .close_btn .material-symbols-outlined {
  width: 87px;
  height: 87px;
  color: white;
  font-size: 3em;
  line-height: 87px;
  text-align: center;
  margin-left: 0px;
}


#header .modal_wrap .modal .right .menu>li {
  float: left;
  margin-right: 130px;
  text-align: center;
  line-height: 50px;
}

#header .modal_wrap .modal .right .menu>li>h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

#header .modal_wrap .modal .right .menu li .sub>li{
  font-size: 20px;
}

#header .modal_wrap .modal .right .menu li .sub>li>a:hover {
  color: #cb0000;
}

#header .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 100;
}

#header .bg:hover {
  background-color: #fff;
}

/* 메뉴 중앙정렬 용도 */
#header .bg .nav_wrap {
  position: relative;
  width: 1300px;
  height: 100px;
  margin: 0 auto;
}

/* 햄버거 메뉴 */
#header .bg .nav_wrap .menu_icon {
  width: 30px;
  height: 20px;
  position: relative;
  top: 40px;
  cursor:url('../img/cursor-a.png'),pointer;
}

#header .bg .nav_wrap .menu_icon p {
  position: absolute;
  width: 100%;
  background-color: black;
  height: 2px;
  margin-bottom: 11px;
  margin-top: -1px;
  transition: all .3s;
}

#header .bg .nav_wrap .menu_icon .t_burgor {
  top: 0;
}

#header .bg .nav_wrap .menu_icon .t_burgor.tOn{
  transform: rotate(45deg);
  top: 50%;
}

#header .bg .nav_wrap .menu_icon .m_burgor {
  top: 50%;
}

#header .bg .nav_wrap .menu_icon .m_burgor.mOn {
  background-color: transparent;
}

#header .bg .nav_wrap .menu_icon .b_burgor {
  bottom:-60%;
}

#header .bg .nav_wrap .menu_icon .b_burgor.bOn {
  bottom: -10%;
  transform: rotate(135deg);
  margin-top: -10px;

}

/* 로고 */
#header .bg .logo>a {
  position: absolute;
  background-image: url(../img/header/logo.png);
  background-repeat: no-repeat;
  width: 163px; height: 18px;
  top: 40px;
  left: 5%;
}

/* 메뉴 */
#header .bg .gnb {
  position: absolute;
  left: 50%;
  top: 40px;
  text-align: center;
  transform: translateX(-50%);
}

#header .bg .gnb>li {
  float: left;
}

#header .bg .gnb>li>a {
  position: relative;
  display: block;
  margin: 0 50px;
  font-size: 20px;
}

#header .bg .gnb>li:hover>a,
#header .bg .gnb>li .sub li:hover>a {
  color: #cb0000;
  font-weight: 600;
}

#header .bg .nav_wrap .gnb>li>a::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  top: 50px;
  width: 0;
  left: 50%;
  background-color: #cb0000;
  opacity: 0;
  transition: all 0.3s;
}

#header .bg .nav_wrap .gnb>li:hover>a::before {
  width: 100%;
  left: 0;
  opacity: 1;
}




/* 서브메뉴 */

#header .bg .gnb>li .sub {
  margin-top: 50px;
  text-align: center;
}

#header .bg .gnb>li .sub>li a{
  display: block;
  line-height: 40px;
  font-size: 16px;
}




/* 유틸메뉴 */
#header .bg .util {
  position: absolute;
  font-family: 'nanum';
  font-weight: 400;
  right: -350px;
  top: 0px;
}
#header .bg .util>li {
  float: left;
  margin-left: 20px;
}

#header .bg .util>li a:hover {
  color: #cb0000;
}




/* 주문제작 버튼 */
#header .bg .util>li:nth-child(1) a {
  border: 2px solid #cb0000;
  color: #cb0000;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all 0.3s;
}

#header .bg .util>li:nth-child(1) a:hover {
  color: #fff;
  background-color: #cb0000;
}




/* -------------------------------section---------------------------------- */

#section .banner{
  width: 100%; height: 550px;
  margin-top: 100px;
  overflow: hidden;
  /* border: 1px solid black; */
}
#section .banner>video{
  transform: translateY(-200px);
}

#section .contents{
  width: 1280px;
  margin: 0 auto;
  /* border: 1px solid salmon; */
}

#section .contents>h2{
  margin-top: 150px;
  text-align: center;
  font-size: 32px;
  font-family: 'GmarketSans';
  animation-name: popdown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#section .contents>p{
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  font-family: 'GmarketSans';
  animation-name: popdown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#section .contents .line{
  width: 1280px;
  margin: 0px auto;
  margin-top: 100px;
  border-top: 1px solid #c4c4c4;
}
#section .contents .con0{
  width: 1280px;
  /* border: 1px solid black; */
  margin-bottom: 100px;
  
}
#section .contents .con0>li{
  height: 300px; 
  animation-name: popup;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  cursor:url('../img/cursor-a.png'),pointer;
  padding-top: 50px;
  transition: all 0.5s;
}
#section .contents .con0>li:hover{
  background-color: #f7f7f7;
}

/* #section .contents .con0>li:nth-child(1){
  margin-top: 0;
} */

#section .contents .con0>li>a>.ima{
  width: 400px; height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
#section .contents .con0>li>a>.ima1{
  background-image: url(../img/news_page/con1.png);
}
#section .contents .con0>li>a>.ima2{
  background-image: url(../img/news_page/con2.png);
}
#section .contents .con0>li>a>.ima3{
  background-image: url(../img/news_page/con3.png);
}
#section .contents .con0>li>a>.ima4{
  background-image: url(../img/news_page/con4.png);
}
#section .contents .con0>li>a>.ima::before{
  content: '';
  width: 100%; height: 100%;
  position: absolute;
  left: 0; top: 0;
  z-index: 999;
  opacity: 0;
  transition: all 0.5s;
}
#section .contents .con0>li:hover>a>.ima::before{
  opacity: 1;
  background-color: #ededed33;
  /* background-color: rgba(0, 0, 0, 0.250); */
  
}#section .contents .con0>li>a>.ttxxtt>h3>.half_high{
  position: relative;
}
#section .contents .con0>li>a>.ttxxtt>h3>.half_high::before{
  content: '';
  width: 100%; height: 40%;
  background-color: #f09c9c56;
  position: absolute;
  left: 0; top: 60%;
  z-index: -2;
  opacity: 0;
  transition: all 1.2s;
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 30%); */
}

#section .contents .con0>li:hover>a>.ttxxtt>h3>.half_high::before{
  /* background-color: #f1a4a4;
  background-image: linear-gradient(
    180deg,
    rgb(132, 250, 176) 0%,
    rgb(143, 211, 244) 100%
  ); */
  opacity: 1;
}
#section .contents .con0>li>a>.ttxxtt{
  position: absolute;
  left: 450px; top: 70px;
  color: #222;
  font-family: 'nanum';
}
#section .contents .con0>li>a>.ttxxtt>h3{
  font-size: 36px;
  margin-bottom: 20px;
}
#section .contents .con0>li>a>.ttxxtt>h4{
  font-size: 18px;
  color: #868686;
  margin-bottom: 60px;
}
#section .contents .con0>li>a>.ttxxtt>h5{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
/* #section .contents .con0>li:nth-child(1){
  margin-right: 100px;
  position: relative;
}
#section .contents .con0>li:nth-child(1):before{
  width: 100%;height: 100%;
  content: '일룸과 함께한 귀염둥이 모음.zip';
  font-family: 'GmarketSans';
  color: white;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0;top: 0;
  text-align: center;
  line-height: 380px;
  display: none;
}
#section .contents .con0>li:nth-child(1):hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.250);
}
#section .contents .con0>li:nth-child(2){
  position: relative;
}
#section .contents .con0>li:nth-child(2):before{
  width: 100%; height: 100%;
  content: '더 다채롭게,쇼파의 재발견';
  font-family: 'GmarketSans';
  color: white;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0;top: 0;
  text-align: center;
  line-height: 380px;
  display: none;
}
#section .contents .con0>li:nth-child(2):hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.250);
}
#section .contents .con0>li:nth-child(3){
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 145px;
  position: relative;
}
#section .contents .con0>li:nth-child(3):before{
  width: 100%; height: 100%;
  content: '엄마아빠와 아이,모두가 행복한 거실';
  font-family: 'GmarketSans';
  color: white;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0;top: 0;
  text-align: center;
  line-height: 380px;
  display: none;
}
#section .contents .con0>li:nth-child(3):hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.250);
}
#section .contents .con0>li:nth-child(4){
  margin-top: 100px;
  margin-bottom: 145px;
  position: relative;
}
#section .contents .con0>li:nth-child(4):before{
  width: 100%; height: 100%;
  content: '일룸 가구 디자이너들의 1인 라이프';
  font-family: 'GmarketSans';
  color: white;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0;top: 0;
  text-align: center;
  line-height: 380px;
  display: none;
}
#section .contents .con0>li:nth-child(4):hover:before{
  display: block;
  background-color: rgba(0, 0, 0, 0.250);
} */


@keyframes popdown {
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes popup {
  from{
    transform: translateY(150px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
/* -------------------------------footer---------------------------------- */

#footer {
  box-sizing: border-box;
  padding-top: 50px;
  width: 1280px;
  height: 270px;
  margin: 0 auto;
  border-top: 1px solid #c4c4c4;
  color: #c4c4c4;
  font-size: 15px;
}

#footer .f_left {
  float: left;
  width: 800px;
}

#footer .f_left p:last-child {
  margin-top: 20px;
}

#footer .f_left .b_logo {
  background-image: url(../img/news_page/header_gray.png);
  background-repeat: no-repeat;
  width: 135px; height: 16px;
  margin-bottom: 30px;
}
#footer .f_left .f_txt {
  margin-bottom: 30px;
}

#footer .f_left .f_txt>li {
  float: left;
  margin-right: 20px;
}

#footer .f_left .f_txt>li a {
  color: #c4c4c4;
}
#footer .f_left>p{
  float: left;
  margin-top: 20px;
}

#footer .f_right {
  float: right;
  width: 480px;
}


#footer .f_right p:nth-child(2) {
  font-size: 20px;
  margin: 13px 0;
  color: #868686;
  font-weight: 600;
}

#footer .f_right p:nth-child(3)::before {
  display: inline-block;
  content: "평일";
  margin-right: 30px;
}
#footer .f_right p:nth-child(4)::before {
  display: inline-block;
  content: "토요일";
  margin-right: 15px;
  margin-bottom: 20px;
}

#footer .f_right .chat {
  display: inline-block;
  background-image: url(../img/news_page/footer_img2.png);
  width: 142px; height: 44px;
  cursor: url('../img/cursor-a.png'),pointer;
}

#footer .f_right .as {
  display: inline-block;
  background-image: url(../img/news_page/footer_img1.png);
  width: 183px; height: 44px;
  margin-left: 10px;
  cursor: url('../img/cursor-a.png'),pointer;
}

.txt_line {
  display: inline-block;
  margin: 0 6px;
  width: 1px;
  height: 12px;
  background: #b3b3b3;
  vertical-align: middle;
}