@charset "UTF-8";

/* -------------------------------header---------------------------------- */
#header .modal_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.525);
  z-index: 101;
  display: none;
  letter-spacing: -1px;
}

#header .modal_wrap .modal {
  position: absolute;

  width: 1300px;
  height: 700px;
  background-color: #ffffff;
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#header .modal_wrap .modal>div {
  float: left;
}

#header .modal_wrap .modal .left {
  width: 20%;
  height: 700px;
  background-color: #ffffff;
  text-align: center;
  color: #cb0000;
  font-size: 30px;
  font-weight: 600;
  line-height: 700px;
}

#header .modal_wrap .modal .right {
  background-color: white;
  background-image: url(../img/header/modal.jpg);
  background-position: center;
  width: 80%;
  height: 700px;
  padding-left: 190px;
  box-sizing: border-box;
  padding-top: 180px;
}

#header .modal_wrap .modal .right .close_btn {
  position: absolute;
  width: 87px;
  height: 87px;
  background-color: black;
  top: 0;
  right: 0;
  cursor:url('../img/cursor-a.png'),pointer;
}

#header .modal_wrap .modal .right .close_btn .material-symbols-outlined {
  width: 87px;
  height: 87px;
  color: white;
  font-size: 3em;
  line-height: 87px;
  text-align: center;
  margin-left: 0px;
}


#header .modal_wrap .modal .right .menu>li {
  float: left;
  margin-right: 130px;
  text-align: center;
  line-height: 50px;
}

#header .modal_wrap .modal .right .menu>li>h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

#header .modal_wrap .modal .right .menu li .sub>li{
  font-size: 20px;
}

#header .modal_wrap .modal .right .menu li .sub>li>a:hover {
  color: #cb0000;
}

#header .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 100;
}

#header .bg:hover {
  background-color: #fff;
}

/* 메뉴 중앙정렬 용도 */
#header .bg .nav_wrap {
  position: relative;
  width: 1300px;
  height: 100px;
  margin: 0 auto;
}

/* 햄버거 메뉴 */
#header .bg .nav_wrap .menu_icon {
  width: 30px;
  height: 20px;
  position: relative;
  top: 40px;
  cursor:url('../img/cursor-a.png'),pointer;
}

#header .bg .nav_wrap .menu_icon p {
  position: absolute;
  width: 100%;
  background-color: black;
  height: 2px;
  margin-bottom: 11px;
  margin-top: -1px;
  transition: all .3s;
}

#header .bg .nav_wrap .menu_icon .t_burgor {
  top: 0;
}

#header .bg .nav_wrap .menu_icon .t_burgor.tOn{
  transform: rotate(45deg);
  top: 50%;
}

#header .bg .nav_wrap .menu_icon .m_burgor {
  top: 50%;
}

#header .bg .nav_wrap .menu_icon .m_burgor.mOn {
  background-color: transparent;
}

#header .bg .nav_wrap .menu_icon .b_burgor {
  bottom:-60%;
}

#header .bg .nav_wrap .menu_icon .b_burgor.bOn {
  bottom: -10%;
  transform: rotate(135deg);
  margin-top: -10px;

}

/* 로고 */
#header .bg .logo>a {
  position: absolute;
  background-image: url(../img/header/logo.png);
  background-repeat: no-repeat;
  width: 163px; height: 18px;
  top: 40px;
  left: 5%;
}

/* 메뉴 */
#header .bg .gnb {
  position: absolute;
  left: 50%;
  top: 40px;
  text-align: center;
  transform: translateX(-50%);
}

#header .bg .gnb>li {
  float: left;
}

#header .bg .gnb>li>a {
  position: relative;
  display: block;
  margin: 0 50px;
  font-size: 20px;
}

#header .bg .gnb>li:hover>a,
#header .bg .gnb>li .sub li:hover>a {
  color: #cb0000;
  font-weight: 600;
}

#header .bg .nav_wrap .gnb>li>a::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  top: 50px;
  width: 0;
  left: 50%;
  background-color: #cb0000;
  opacity: 0;
  transition: all 0.3s;
}

#header .bg .nav_wrap .gnb>li:hover>a::before {
  width: 100%;
  left: 0;
  opacity: 1;
}


/* 서브메뉴 */

#header .bg .gnb>li .sub {
  margin-top: 50px;
  text-align: center;
}

#header .bg .gnb>li .sub>li a{
  display: block;
  line-height: 40px;
  font-size: 16px;
}




/* 유틸메뉴 */
#header .bg .util {
  position: absolute;
  font-family: 'nanum';
  font-weight: 400;
  right: 0;
  top: 40px;
}
#header .bg .util>li {
  float: left;
  margin-left: 20px;
}

#header .bg .util>li a:hover {
  color: #cb0000;
}




/* 주문제작 버튼 */
#header .bg .util>li:nth-child(1) a {
  border: 2px solid #cb0000;
  color: #cb0000;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all 0.3s;
}

#header .bg .util>li:nth-child(1) a:hover {
  color: #fff;
  background-color: #cb0000;
}



/* -------------------------------section---------------------------------- */

#section .contents{
  width: 1280px;
  margin: 0 auto;
  /* border: 1px solid salmon; */
}
#section .contents>h2{
  text-align: center;
  color: #cb0000;
  font-size: 64px;
  font-weight: 600;
  margin-top: 185px;
  font-family: 'GmarketSans';
}
#section .contents>p{
  text-align: center;
  font-size: 24px;
  margin-top: 77px;
  font-family: 'GmarketSans';
}
#section .contents .con0{
  width: 1280px; height: 1650px;
  margin: 0 auto;
  /* border: 1px solid black; */
  margin-top: 80px;
  font-family: 'GmarketSans';
}
#section .contents .con0>li{
      border-radius: 30px;
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      margin-bottom: 150px;
      box-shadow:   0 0 0 #cccccc,
                    0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
      animation: anime 1.5s cubic-bezier(0.16, 1, 0.3, 1) 1s 1 normal;
      animation-fill-mode: forwards;
}
#section .contents .con0>li>div{
  width: 1280px; height: 270px;
  box-shadow: 2px 2px 10px 0px #00000025;
  border-radius: 30px;
  margin-bottom: 150px;
  position: relative;
  opacity: 0;
  animation-name: detail;
  animation-delay: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
#section .contents .con0>li>#detail01{
  /* animation-name: detail;
  animation-delay: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
  animation-duration: 2s;
}
#section .contents .con0>li>#detail02{
  animation-delay: 2.5s;
}
#section .contents .con0>li>#detail03{
  animation-delay: 3s;
}
#section .contents .con0>li>#detail04{
  animation-delay: 3.5s;
}
#section .contents .con0>li:nth-child(4)>div{
  margin-bottom: 120px;
}
#section .contents .con0>li>div>img{
  width: 102px; height: 102px;
  position: absolute;
  left: 106px; top: 56px;
}
#section .contents .con0>li:nth-child(1)>#detail01>img{
  width: 106.68px; height: 102px;
}
#section .contents .con0>li>div>h3{
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 185px; left: 125px;
}
#section .contents .con0>li:nth-child(2)>div>h3{
  left: 133px;
}
#section .contents .con0>li>div>p{
  font-size: 24px;
  position: absolute;
  left: 318px; top: 57px;
  line-height: 40px;
  font-family: 'nanum';
}
#section .contents .con0>li:nth-child(2)>#detail02>p{
  margin-top: 20px;
}
#section .contents .btn{
  width: 250px; height: 80px;
  background-color: #cb0000;
  text-align: center;
  line-height: 85px;
  position: relative;
  float: right;
  margin-bottom: 120px;
  box-shadow: inset 0 0 0 0 #ee7474;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
}
#section .contents .btn:hover{
  box-shadow: inset 305px 0 0 0 #ff0101;
  
}
#section .contents .btn:hover>a{
  color: rgb(255, 255, 255);
}
#section .contents .btn>a{
  color: white;
  font-size: 28px;
  font-weight: 600;
  font-family: 'GmarketSans';
}
#section .contents .btn>a>img{
  width: 20px; height: 29.62px;
  position: absolute;
  right: 15px; bottom: 23.38px;
}


@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow:   0 0 0 #cccccc,
                  0 0 0 #ffffff,
                  5px 5px 5px #cccccc inset,
                  -5px -5px 5px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: #fafafa;
    box-shadow: 5px 5px 5px #cccccc,
                5px 5px 5px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 270px;
    background: #fbfbfb;
    box-shadow: 5px 5px 5px #cccccc,
                5px 5px 5px #ffffff,
                0 0 0 #cccccc inset,
                0 0 0 #ffffff inset;
  }
  100% {
    width: 1280px;
    height: 270px;
    background: #ffffff;
    box-shadow:  0px 0px 10px #cccccc,
                0 0 0 #ffffff,
                0 0 0 #cccccc inset,
                2px 2px 2px #ffffff inset;
  }
}

@keyframes detail {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* ------------------------------------------ffffoooottteeeerrrr----------------- */
#footer {
  box-sizing: border-box;
  padding-top: 50px;
  width: 1280px;
  height: 270px;
  margin: 0 auto;
  border-top: 1px solid #c4c4c4;
  color: #c4c4c4;
  font-size: 15px;
}

#footer .f_left {
  float: left;
  width: 800px;
}

#footer .f_left p:last-child {
  margin-top: 20px;
}

#footer .f_left .b_logo {
  background-image: url(../img/ordermade_page/header_gray.png);
  background-repeat: no-repeat;
  width: 135px; height: 16px;
  margin-bottom: 30px;
}
#footer .f_left .f_txt {
  margin-bottom: 30px;
}

#footer .f_left .f_txt>li {
  float: left;
  margin-right: 20px;
}

#footer .f_left .f_txt>li a {
  color: #c4c4c4;
}

#footer .f_right {
  float: right;
  width: 480px;
}


#footer .f_right p:nth-child(2) {
  font-size: 20px;
  margin: 13px 0;
  color: #868686;
  font-weight: 600;
}

#footer .f_right p:nth-child(3)::before {
  display: inline-block;
  content: "평일";
  margin-right: 30px;
}
#footer .f_right p:nth-child(4)::before {
  display: inline-block;
  content: "토요일";
  margin-right: 15px;
  margin-bottom: 20px;
}

#footer .f_right .chat {
  display: inline-block;
  background-image: url(../img/ordermade_page/footer_img2.png);
  width: 142px; height: 44px;
  cursor: url('../img/cursor-a.png'),pointer;
}

#footer .f_right .as {
  display: inline-block;
  background-image: url(../img/ordermade_page/footer_img1.png);
  width: 183px; height: 44px;
  margin-left: 10px;
  cursor: url('../img/cursor-a.png'),pointer;
}

.txt_line {
  display: inline-block;
  margin: 0 6px;
  width: 1px;
  height: 12px;
  background: #b3b3b3;
  vertical-align: middle;
}