@charset "UTF-8";

/* ======|   헤더    | ===================================*/

#header .modal_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.525);
    z-index: 101;
    display: none;
    letter-spacing: -1px;
}

#header .modal_wrap .modal {
    position: absolute;

    width: 1300px;
    height: 700px;
    background-color: #ffffff;
    z-index: 101;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#header .modal_wrap .modal>div {
    float: left;
}

#header .modal_wrap .modal .left {
    width: 20%;
    height: 700px;
    background-color: #ffffff;
    text-align: center;
    color: #cb0000;
    font-size: 30px;
    font-weight: 600;
    line-height: 700px;
}

#header .modal_wrap .modal .right {
    background-color: white;
    background-image: url(../img/header/modal.jpg);
    background-position: center;
    width: 80%;
    height: 700px;
    padding-left: 190px;
    box-sizing: border-box;
    padding-top: 180px;
}

#header .modal_wrap .modal .right .close_btn {
    position: absolute;
    width: 87px;
    height: 87px;
    background-color: black;
    top: 0;
    right: 0;
    cursor:url('../img/cursor-a.png'),pointer;
}

#header .modal_wrap .modal .right .close_btn .material-symbols-outlined {
    width: 87px;
    height: 87px;
    color: white;
    font-size: 3em;
    line-height: 87px;
    text-align: center;
    margin-left: 0px;
}


#header .modal_wrap .modal .right .menu>li {
    float: left;
    margin-right: 130px;
    text-align: center;
    line-height: 50px;
}

#header .modal_wrap .modal .right .menu>li>h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

#header .modal_wrap .modal .right .menu li .sub>li{
    font-size: 20px;
}

#header .modal_wrap .modal .right .menu li .sub>li>a:hover {
    color: #cb0000;
}

#header .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 100;
}

#header .bg:hover {
    background-color: #fff;
}

/* 메뉴 중앙정렬 용도 */
#header .bg .nav_wrap {
    position: relative;
    width: 1300px;
    height: 100px;
    margin: 0 auto;
}

/* 햄버거 메뉴 */
#header .bg .nav_wrap .menu_icon {
    width: 30px;
    height: 20px;
    position: relative;
    top: 40px;
    cursor:url('../img/cursor-a.png'),pointer;
}

#header .bg .nav_wrap .menu_icon p {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 2px;
    margin-bottom: 11px;
    margin-top: -1px;
    transition: all .3s;
}

#header .bg .nav_wrap .menu_icon .t_burgor {
    top: 0;
}

#header .bg .nav_wrap .menu_icon .t_burgor.tOn{
    transform: rotate(45deg);
    top: 50%;
}

#header .bg .nav_wrap .menu_icon .m_burgor {
    top: 50%;
}

#header .bg .nav_wrap .menu_icon .m_burgor.mOn {
    background-color: transparent;
}

#header .bg .nav_wrap .menu_icon .b_burgor {
    bottom:-60%;
}

#header .bg .nav_wrap .menu_icon .b_burgor.bOn {
    bottom: -10%;
    transform: rotate(135deg);
    margin-top: -10px;

}

/* 로고 */
#header .bg .logo>a {
    position: absolute;
    background-image: url(../img/header/logo.png);
    background-repeat: no-repeat;
    width: 163px; height: 18px;
    top: 40px;
    left: 5%;
}

/* 메뉴 */
#header .bg .gnb {
    position: absolute;
    left: 50%;
    top: 40px;
    text-align: center;
    transform: translateX(-50%);
}

#header .bg .gnb>li {
    float: left;
}

#header .bg .gnb>li>a {
    position: relative;
    display: block;
    margin: 0 50px;
    font-size: 20px;
}

#header .bg .gnb>li:hover>a,
#header .bg .gnb>li .sub li:hover>a {
    color: #cb0000;
    font-weight: 600;
}

#header .bg .nav_wrap .gnb>li>a::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    top: 50px;
    width: 0;
    left: 50%;
    background-color: #cb0000;
    opacity: 0;
    transition: all 0.3s;
}

#header .bg .nav_wrap .gnb>li:hover>a::before {
    width: 100%;
    left: 0;
    opacity: 1;
}




/* 서브메뉴 */

#header .bg .gnb>li .sub {
    margin-top: 50px;
    text-align: center;
}

#header .bg .gnb>li .sub>li a{
    display: block;
    line-height: 40px;
    font-size: 16px;
}




/* 유틸메뉴 */
#header .bg .util {
    position: absolute;
    font-family: 'nanum';
    font-weight: 400;
    right: 0;
    top: 40px;
}
#header .bg .util>li {
    float: left;
    margin-left: 20px;
}

#header .bg .util>li a:hover {
    color: #cb0000;
}




/* 주문제작 버튼 */
#header .bg .util>li:nth-child(1) a {
    border: 2px solid #cb0000;
    color: #cb0000;
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.3s;
}

#header .bg .util>li:nth-child(1) a:hover {
    color: #fff;
    background-color: #cb0000;
}

/* ------------------section---------------------------------- */

#secton {
  width: 1280px;
}
.login_wrapper {
  margin: 0 auto;
  margin-top: 250px;
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 460px;
  background-color: white;
  border: 1px solid #dbdbdb;
}
.login_logo{
  margin: 60px auto;
}
.login_logo a{
  width: 165px; height: 50px;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  /* margin-top: 10px; */
}

.login_text {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  /* padding: 0 10px 0 10px; */
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
.login_options {
  display: flex;
  align-items: center;
}
.login_options input {
  margin-top: 23px;
  border-radius: 50%;
}


.login_bottom,
.login_bottom2 {
  margin-top: 25px;
  margin-left: 5px;
  color: #898989;
  font-size: 13px;
  white-space: nowrap;
  /* border: 1px solid rebeccapurple; */
}
.login_bottom2 {
  margin-left: 45px;
  font-size: 12px;
}

.login_btn {
  width: 100%;
  height: 50px;
  margin: 10px 0 5px 0;
  margin-top: 60px;
  color: white;
  background-color: #cb0000;
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  /* font-weight: bold; */
  cursor:url('../img/cursor-a.png'),pointer;
}

.login_text:focus {
  outline: 1px solid #a8a8a8;
}

.login_text::placeholder {
  color: #8e8e8e;
}


/* ======|   푸터    | ===================================*/

#footer {
  box-sizing: border-box;
  padding-top: 50px;
  width: 1280px;
  height: 270px;
  margin: 0 auto;
  border-top: 1px solid #c4c4c4;
  color: #c4c4c4;
  font-size: 15px;
}

#footer .f_left {
  float: left;
  width: 800px;
}

#footer .f_left p:last-child {
  margin-top: 20px;
}

#footer .f_left .b_logo {
  background-image: url(../img/footer/logo_bottom.png);
  background-repeat: no-repeat;
  width: 135px;
  height: 16px;
  margin-bottom: 30px;
}
#footer .f_left .f_txt {
  margin-bottom: 30px;
}

#footer .f_left .f_txt > li {
  float: left;
  margin-right: 20px;
}

#footer .f_left .f_txt > li a {
  color: #c4c4c4;
}

#footer .f_right {
  float: right;
  width: 480px;
}

#footer .f_right p:nth-child(2) {
  font-size: 20px;
  margin: 13px 0;
  color: #868686;
  font-weight: 600;
}

#footer .f_right p:nth-child(3)::before {
  display: inline-block;
  content: '평일';
  margin-right: 30px;
}
#footer .f_right p:nth-child(4)::before {
  display: inline-block;
  content: '토요일';
  margin-right: 15px;
  margin-bottom: 20px;
}

#footer .f_right .chat {
  display: inline-block;
  background-image: url(../img/footer/kakao.png);
  background-repeat: no-repeat;
  width: 142px;
  height: 44px;
  cursor:url('../img/cursor-a.png'),pointer;
}

#footer .f_right .as {
  display: inline-block;
  background-image: url(../img/footer/as.png);
  background-repeat: no-repeat;
  width: 183px;
  height: 44px;
  margin-left: 10px;
  cursor:url('../img/cursor-a.png'),pointer;
}

.txt_line {
  display: inline-block;
  margin: 0 6px;
  width: 1px;
  height: 12px;
  background: #b3b3b3;
  vertical-align: middle;
}


